body {
  margin: 0;
  font-family: canada-type-gibson,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:24px;
  background-color: #E9F1F2;
  color:#73563D;
  text-align: center;
}


.gib-italic{
  font-family: canada-type-gibson,sans-serif;
  font-weight: 700;
  font-style: italic;
}

.gib-reg{
  font-family: canada-type-gibson,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.gib-bold{
  font-family: canada-type-gibson,sans-serif;
  font-weight: 700;
  font-style: normal;
}



.header-wrapper{
  padding-top:24px;
}


.hex-data-shelf {
  padding-top: 120px;
}